fastapi
uvicorn[standard]
sentence-transformers
faiss-cpu
google-generativeai
python-dotenv
pydantic
tqdm
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
groq
pymupdf
